*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}
.container{
    width: 100%;
    min-height: 100vh;
    background: -webkit-linear-gradient(135deg, rgb(200, 255, 0), rgba(255, 0, 64, 0.808), orange);
    padding: 10px;
}
.todo-app{
    width: 100%;
    max-width: 540px;
    background: #fff;
    margin: 100px auto 20px;
    padding: 40px 30px 70px;
    border-radius: 30px;
}
.todo-app h2{
    color: rgba(0, 0, 0, 0.726);
    display: flex;
    align-items: center;
    margin-left: 10px;
    margin-bottom: 20px;
    font-weight: bolder;
}
.todo-app img{
    width: 25px;
    height: 25px;
    margin-left: 10px;
}
.row{
    display: flex;
    align-items: center;
    border-radius: 30px;
    margin-bottom: 25px;
    padding-left: 20px;
    background-color: rgb(216, 211, 211);
    justify-content: space-between;
    }

    input{
        flex: 1;
        border: none;
        outline: none;
        background: transparent;
        padding: 10px;
    }
    button{
        padding: 15px 30px;
        border-radius: 30px;
        border: none;
        outline: none;
        background: -webkit-linear-gradient( rgb(113, 0, 128), rgb(136, 10, 62));
        color: #fff;
        font-weight: bold;
        font-size: 15px;
        cursor: pointer;
    }
    ul li{
        list-style: none;
        font-size: 17px;
        padding: 12px 8px 12px 50px;
        user-select: none;
        cursor: pointer;
        position: relative;
    }
    ul li::before{
        background-image: url(unchecked.png);
        content: '';
        position: absolute;
        height: 28px;
        width: 28px;
        border-radius: 50%;
        background-size: cover;
        background-position: center;
        top: 12px;
        left: 8px;
    }
    ul li.checked{
        color: #555;
        text-decoration: line-through;
    }
    ul li.checked::before{
        background-image: url(checked.png);
    }
    ul li span{
        position: absolute;
        right: 0;
        top: 5px;
        width: 40px;
        height: 40px;
        font-size: 22px;
        color: #555;
        line-height: 40px;
        text-align: center;
        border-radius: 50%;
    }
    ul li span:hover{
        background:#edeef0;
    }